.review-item {
  width: 571px;
  border: #95a0a7 1px solid;
  margin-top: 20px;
  border-radius: 8px;
  padding: 8px 25px 8px 8px;
  display: flex;
  align-items: center;
}

.review-item .product-title {
  font-size: 21px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.032px;
  color: #1c2b35;
}

.review-details {
  flex-grow: 1;
}

.review-details p {
  margin: 0 15px;
}

.review-item img {
  width: 90px;
  height: 90px;
  border-radius: 6px;
}

.orange-text {
  color: #ff9900;
}

/* delete button styles  */
.btn-delete {
  height: 55px;
  width: 55px;
  background-color: rgba(235, 87, 87, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-icon {
  color: #eb5757;
  font-size: 27px;
}
